main {
    display: inline-flex;
}
#playerboard, #computerboard {
    display: grid;
    grid-template-columns: repeat(10, 5vmin);
    grid-template-rows: repeat(10, 5vmin);
    gap: 0;
    justify-content: space-between;
    padding: 5vmin;

}

#playerboard > div, #computerboard > div {
    border: 0.1vmin solid grey;
}

#boat {
    display: inline-block;
    font-size: 0;
    border: 0.1vmin solid pink;
    background-color: gray;
    cursor: move;
}

[value="5"] {
    height: 5vmin;
    width: 25vmin;
}

[value="4"] {
    height: 5vmin;
    width: 20vmin;
}

[value="3"] {
    height: 5vmin;
    width: 15vmin;
}

[value="2"] {
    height: 5vmin;
    width: 10vmin;
}


#boat.dragging {
    background-color: pink;
}